<link rel="stylesheet" href="css/chat.css">
<link rel="stylesheet" href="css/nav.css">
<div id="chatbot-container" class="closed">
    <div id="chatbot-toggle">
    </div>
    <iframe id="chatbot-iframe"
      class="chatai"
      src="https://www.chatbase.co/chatbot-iframe/6llmUJQ37gQdCBJCNRw3i"
      frameborder="0"
    ></iframe>
  </div>
  <div id="chatbot-image"></div>
  <script src="js/script.js"></script>
  <script src="js/chat.js"></script>  