
<header class="top-header"></header>
<nav id="topnav">
  <a href="/frontend-track">Frontend</a>
  <a href="/backend-track">Backend</a>
  <a href="/mobile-track">Mobile</a>
  <a href="/article">Article</a>
  <a href="/task">Task</a>
  <a href="/auth/login">login</a>
  <a href="/auth/signup">sign up</a>
</nav>

<a href="/" class="logo">R<span>SA</span></a>
<div id="toggle-btn" class="fas fa-sun"></div>
