<div id="pomodoro-app">
    <div id="container">
      <div id="timer">
        <div id="time">
          <span id="minutes">25</span>
          <span id="colon">:</span>
          <span id="seconds">00</span>
        </div>
        <div id="filler"></div>
      </div>
    </div>
    <div id="buttons">
      <button id="work">▶</button>
      <button id="shortBreak">🎊</button>
      <button id="longBreak">🎉</button>
      <button id="stop">Stop</button>
     
    </div>
  </div>
  
  <script src="/js/pomodoro.js"></script>