    <form action="/" method="GET">
    <input type="text" name="search" class="searchEl" placeholder="Search for a course" autocomplete="off">
    <button id="searchButton" class="searchbar" type="submit">Search</button>
  </form>
