<%-include('includes/head.ejs')%>
<link rel="stylesheet" href="/css/login.css" />


<div class="mainC">
  <input type="checkbox" id="check-box" aria-hidden="true">
  <div class="signup">
      <form action="/auth/signup" method="post">
          <label class="title" for="check-box" aria-hidden="true"> Sign up</label>
          <input type="text" name="name" placeholder="User name" required="" autocomplete="off">
          <input type="email" name="email" placeholder="Email" required="" autocomplete="off">
          <input type="password" name="password" placeholder="Password" required="" autocomplete="off">
          <input type="password" name="passwordConfirm" placeholder="Confirm Password" required="" autocomplete="off">
          <button>Sign up </button>
          <a href="/auth/login"> Already have an account ? </a>
      </form>
  </div>
<%-include('includes/end.ejs')%>
